.page-title {
	// font-weight: bold;
	margin: 2rem 0;
	text-align: center;
}

.search-box {
	border: 2px solid rgb(160, 11, 11);
	padding: 1rem;
	margin-bottom: 1rem;
}

.todo-box {
	border: 2px solid rgb(6, 26, 138);
	padding: 1rem;
	margin-bottom: 1rem;
}

.add-box {
	border: 2px solid rgb(4, 75, 25);
	padding: 1rem;
	margin-bottom: 1rem;
}