body {
	background-color: rgb(238, 235, 235);
	background: rgb(238, 235, 235);
	line-height: 1;
}
.page-title {
	// font-weight: bold;
	margin: 2rem 0;
	text-align: center;
}

.search-box {
	border: 2px solid rgb(206, 17, 17);
	padding: 1rem;
	margin-bottom: 1rem;
}

.todo-list-box {
	border: 2px solid rgb(6, 26, 138);
	padding: 1rem;
	margin-bottom: 1rem;
}

.add-box {
	border: 2px solid rgb(8, 139, 47);
	padding: 1rem;
	margin-bottom: 1rem;
}